.myGlobalStyles {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom, rgba(38, 115, 148, 0.3), rgba(139, 142, 111, 0.3));
}